@page "/"
@using F1Project.Data.Database.Services
@using F1Project.Data.Database.Types
@inject VideoService VideoServ
@inject SettingService Settings
@inject IHostEnvironment Environment

<div class="index">
    <div class="left">
        <CardLink Class="livestream-promotion" Link="live">
            <Content>
                <ul>
                    <li>
                        Все сессии Формулы 1 в прямом эфире
                    </li>
                    <li>
                        На выбор комментарии на русском и английском
                    </li>
                    <li>
                        Удобный просмотр в браузере на любом устройстве
                    </li>
                    <li>
                        Бесплатно!
                    </li>
                </ul>
            </Content>
            <Caption>
                <i class="fa-solid fa-tower-cell"></i>
                Трансляции
            </Caption>
        </CardLink>
        <CardLink Class="recordings" Link="videos">
            <Content>
                <ul>
                    <li>
                        Просмотр и скачивание записей в высоком качестве
                    </li>
                    <li>
                        Публикация записи сразу после окончания трансляции
                    </li>
                    <li>
                        Архив за весь текущий сезон
                    </li>
                </ul>
            </Content>
            <Caption>
                <i class="fa-solid fa-video"></i>
                Записи
            </Caption>
        </CardLink>
        <CardLink Class="tg-promotion" Link="@Settings.Get("tgLink").Value" TargetBlank>
            <Content>
                <ul>
                    <li>
                        Авторизация через Telegram -
                        никаких забытых логинов, паролей и подтверждений по почте!
                    </li>
                    <li>
                        Наш канал с оповещениями о трансляциях, расписанием,
                        опросами пользователей и новостями об обновлениях сайта
                    </li>
                </ul>
            </Content>
            <Caption>
                <i class="fa-solid fa-comments"></i>
                Telegram
            </Caption>
        </CardLink>
        @Link.Support(Settings.Get("supportLink").Value)
        <Standings/>
    </div>
    <div class="right">
        <Schedule/>
        @Link.Donate(Settings.Get("donationLink").Value)
        @if (!string.IsNullOrWhiteSpace(LastVideo?.Id))
        {
            <CardLink Link="@("watch?v=" + LastVideo.Id)">
                <Content>
                    <a href="watch?v=@LastVideo.Id">
                        <img src="@LastVideo.Preview(Storage)" alt=""/>
                    </a>
                </Content>
                <Caption>
                    <i class="fa-solid fa-photo-film"></i>
                    Последнее видео
                </Caption>
            </CardLink>
        }
    </div>
</div>

@code
{
    private string Storage => Environment.IsDevelopment() ? "./wwwroot/storage/" : "/home/anton/storage/";
    private Video? LastVideo { get; set; }
    
    protected override void OnParametersSet()
    {
        LastVideo = VideoServ.Get().Last();
    }
}
