@page "/Live"
@using F1Project.Data.Database.Services
@using F1Project.Data.Database.Types
@layout AuthLayout
@inject NavigationManager Nav
@inject SettingService Settings

<PageTitle>watchF1 - @Title</PageTitle>

@if (IsConnected)
{
    if (IsAuthorized && User is not null)
    {
        if (User.Subscribed)
        {
            <VideoPlayer Live Title="@Title"/>
            <LinkButtons LinksArray="@(new [] {LinkButtons.Link.BackupLive, LinkButtons.Link.Support})"/>
        }
        else
        {
            <h2>Оплатите доступ, чтобы смотреть трансляцию.</h2>
            <LinkButtons LinksArray="@(new [] {LinkButtons.Link.Manual})"/>
        }
        <hr>
        <Schedule/>
    }
    else
    {
        <h2>Авторизуйтесь, чтобы получить доступ к этой странице.</h2>
        <LinkButtons LinksArray="@(new [] {LinkButtons.Link.Login})"/>
    }
}
else
{
    <h2>Загрузка...</h2>
}

@code
{
    [CascadingParameter (Name = "IsConnected")]
    private bool IsConnected { get; set; }
    
    [CascadingParameter (Name = "IsAuthorized")]
    private bool IsAuthorized { get; set; }
    
    [CascadingParameter(Name = "User")]
    private User? User { get; set; }
    
    [Parameter]
    public string Title { get; set; } = "Прямая трансляция";

    protected override void OnParametersSet()
    {
        if (!string.IsNullOrWhiteSpace(Settings.Get("liveTitle").Value))
        {
            Title = Settings.Get("liveTitle").Value;
        }
    }

    protected override void OnInitialized()
    {
        if (Settings.Get("test").Value == "true")
        {
            Nav.NavigateTo("test");
        }
    }
}
